/* フォント */
@font-face {
  font-family: 'naguri';
  src: url('../about/fonts/crayon_1-1.ttf') format('truetype');
}
@font-face {
  font-family: 'eri';
  src: url('../about/fonts/えり字.otf') format('opentype');
}

body {
  background: #f5f5f5;
  color: #222;
}



header {
  height: 100px;
  /* border: 0.1px solid blue; */
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  background: #fff;
  font-family: 'naguri';
  text-align: center;
  height: 100px;
  width: 100%;
  z-index: 1;
  display: flex;
  position: relative;
}

nav p{
  position: absolute;
  line-height: 100px;
  left: 32px;
}

nav p a {
  text-decoration: none;
  color: #222;
  font-size: 30px;
}

nav ul {
  position: absolute;
  list-style: none;
  line-height: 100px;
  display: flex;
  flex-wrap: wrap;
  right: 0;
}

nav ul li {
  margin-right: 32px;
  font-size: 40px;
}

nav ul li a {
  text-decoration: none;
  color: #222;
}



main{
  background: #fcfcfc;
  padding-top: 100px;
  max-width: 800px;
  margin: 0 auto;
}

main article{
  margin-bottom: 80px;
}

main h1{
  font-weight: 100;
  font-family: 'naguri';
  font-size: 48px;
  border: 0.1px solid blue;
  padding-left: 20px;
}



footer{
  text-align: center;
}



#loading {
  width: 100%;
  height: 100%;
  transition: ease-out 1s 1s;
  background-color: #eee;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  user-select: none;
}
.loaded {
  opacity: 0;
  visibility: hidden;
}
#percent {
  position: fixed;
  bottom: 60px;
  right: 140px;
  font-size: 30px;
  color: #666;
  animation: loading-opacity 2.5s ease-in-out 0.7s infinite;
}
#loading-bar {
  background: #666;
  position: fixed;
  bottom: 20px;
  left: 0px;
  height: 1.2px;
  width: 100%;
  animation: loading-bar linear 5s;
}
.loading-logo {
  width: 80px;
  position: fixed;
  bottom: 60px;
  right: 40px;
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  animation: loading-rotate 2s ease-in-out 0.7s infinite, loading-opacity 2.5s ease-in-out 0.7s infinite;
}
@keyframes loading-rotate {
  0% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-390deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes loading-opacity {
  0% {
    opacity: 90%;
  }
  75% {
    opacity: 50%;
  }
  100% {
    opacity: 90%;
  }
}
@keyframes loading-bar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}