/* ページのソースを閲覧したところでお前らなんかにゃ分からんだろうになぁ */

/* フォント /////////////////////////////////////////////////////////////////////////////////////// */
@font-face {
  font-family: 'naguri';
  src: url('../about/fonts/crayon_1-1.ttf') format('truetype');
}

@font-face {
  font-family: 'eri';
  src: url('../about/fonts/えり字.otf') format('opentype');
}

/* ロード画面 /////////////////////////////////////////////////////////////////////////////////////// */
#loading {
  width: 100%;
  height: 100%;
  /* 全体秒数 */
  transition: ease-out 1s 5s;
  background-color: #eee;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

#tips{
  margin: auto auto;
  width: 500px;
  margin-top: 40vh;
  max-width: 80%;
  padding: 30px;
  border: #222 double 4px;
}

#tips h1,p{
  text-align: center;
  user-select: none;
  padding-top: 20px;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

#percent {
  position: fixed;
  bottom: 60px;
  right: 140px;
  font-size: 20px;
  color: #666;
  animation: loading-opacity 2s ease-in-out 0.7s infinite;
}

#loading-bar {
  background: #666;
  position: fixed;
  bottom: 20px;
  left: 0px;
  height: 1.2px;
  width: 100%;
  animation: loading-bar linear 5s;
}

.loading-logo {
  width: 80px;
  position: fixed;
  bottom: 60px;
  right: 40px;
  animation: loading-rotate 2s ease-in-out 0.7s infinite, loading-opacity 2.5s ease-in-out 0.7s infinite;
}

@keyframes loading-rotate {
  0% {
    transform: rotate(0deg);
  }

  70% {
    transform: rotate(-390deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes loading-opacity {
  0% {
    opacity: 90%;
  }

  75% {
    opacity: 50%;
  }

  100% {
    opacity: 90%;
  }
}

@keyframes loading-bar {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

/* ベース /////////////////////////////////////////////////////////////////////////////////////// */
html {
  background: #4b4b4b;
  color: #222;
  scroll-padding-top: 120px;
  position: relative;
}

body {
  overflow-x: hidden;
}

::selection {
  user-select: none;
}

p::selection {
  background-color: #c0ec12;
}

img{
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
}

/* ヘッダー /////////////////////////////////////////////////////////////////////////////////////// */
header {
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 3px 3px #c0c0c080;
  z-index: 2;
}

/* ナビゲーション ////////////////// */
nav {
  background: #fff;
  font-family: 'naguri';
  text-align: center;
  height: 100px;
  width: 100%;
  display: flex;
  position: relative;
}

nav img{
  width: 150px;
  margin-left: 24px;
  margin-top: 25px;
}

nav ul {
  position: absolute;
  list-style: none;
  line-height: 100px;
  display: flex;
  flex-wrap: wrap;
  right: 0;
}

nav ul li {
  margin-right: 32px;
  font-size: min(4vw,40px);
    padding: 2px;
}

nav ul li a {
  text-decoration: none;
  color: #222;
  display: inline-block;
}

nav ul li a:hover{
  animation: hover linear 0.1s infinite;
}

@keyframes hover {
  0% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}

#nav-btn {
  display: none;
}

.nav-btn {
  display: none;
}

#box {
  background: #f5f5f5;
}

#PC {
  display: inline-block;
}

#PHONE {
  display: none;
}

/* 背景写真 /////////////////////////////////////////////////////////////////////////////////////// */
#background {
  position: absolute;
  width: 100%;
  height: 105%;
  overflow:hidden;
  background: #f5f5f5;
}

#background img {
  position: absolute;
  border: #fff 10px solid;
  width: 30vw;
  min-width: 360px;
  filter: brightness(115%) grayscale(50%) sepia(10%) drop-shadow(0 3px 5px rgba(0,0,0,0.4));
  transform: translate(-50%, -50%);
  z-index: 1;
}

#background img:nth-child(1){
  rotate: 5deg;
  top: 150px;
  left: 35%;
}
#background img:nth-child(2){
  rotate: 10deg;
  top: 200px;
  left: 80%;
}
#background img:nth-child(3){ /*これは顔面*/
  rotate: -5deg;
  display: none;
}
#background img:nth-child(4){
  rotate: -17deg;
  top: 60px;
  left: 15%;
}
#background img:nth-child(5){
  rotate: 5deg;
  top: 700px;
  left: 20%;
}
#background img:nth-child(6){
  rotate: 8deg;
  top: 500px;
  left: 90%;
}
#background img:nth-child(7){
  rotate: -10deg;
  top: 700px;
  left: 85%;
}
#background img:nth-child(8){
  rotate: -3deg;
  top: 700px;
  left: 50%;
}
#background img:nth-child(9){
  rotate: -14deg;
  top: 700px;
  left: 10%;
}
#background img:nth-child(10){
  rotate: -10deg;
  top: 150px;
  left: 55%;
}
#background img:nth-child(11){
  rotate: -4deg;
  top: 250px;
  left: 10%;
}
#background img:nth-child(12){
  rotate: -5deg;
  top: 300px;
  left: 90%;
}
#background img:nth-child(13){ /*これは迷言*/
  display: none;
}
#background img:nth-child(14){
  rotate: 13deg;
  top: 500px;
  left: 10%;
}
#background img:nth-child(15){ /*これは図面*/
  rotate: 3deg;
  display: none;
}
#background img:nth-child(16){ /*これは横に欲しい*/
  rotate: 3deg;
  display: none;
}

/* メイン /////////////////////////////////////////////////////////////////////////////////////// */
main {
  background: #fcfcfc;
  padding-top: 120px;
  max-width: 800px;
  margin: 0 auto;
  z-index: 1;
}

main article {
  margin-top: 80px;
}

main h1 {
  font-weight: 100;
  font-family: 'naguri';
  font-size: 48px;
  padding-left: 20px;
  padding-bottom: 20px;
}

main p {
  letter-spacing: -7px;
  font-family: 'eri';
  font-size: 24px;
  font-weight: bolder;
}

/* TOP ////////////////// */
#TOP{
  position: relative;
  height: 70vh;
  z-index: 1;
}

#TOP img{
  width: 76%;
  margin: 0 auto;
  margin-top: 20vh;
  background: #fff;
  filter:drop-shadow(0 3px 5px #eac300da);
  padding: 50px;
}

/* あばうと ////////////////// */
#ABOUT{
  position: relative;
  width: 100%;
  overflow: hidden;
}

#ABOUT img{
  position: absolute;
  width: 30vw;
  left: 110%;
}

#aboutText{
  padding: 8px;
}

#pageNumber{
  text-align: center;
}

#ABOUT #about{
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  width: 95%;
  height: 250px;
  font-size: 30px;
  background-image: linear-gradient(180deg, #ccc 1px, transparent 1px);
  background-size: 100% 30px;
  line-height: 30px;
  padding-bottom: 1px;
}

#ABOUT #pageNumber{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 5px;
}

#ABOUT button{
  color: #222;
  background: none;
  border: none;
  overflow: hidden;
}

#ABOUT #back{
  position: absolute;
  left: 25%;
  bottom: 7px;
  font-size: 16px;
  font-weight: bolder;
}

#ABOUT #forward{
  position: absolute;
  right: 25%;
  bottom: 7px;
  font-size: 16px;
  font-weight: bolder;
}

/* かつどう ////////////////// */
#ACTIVITY p{
  text-align: center;
  margin: 70px auto;
  font-size: 30px;
}

#ACTIVITY div{
  margin: 0 auto;
  text-align: center;
}

#ACTIVITY div a{
  background: #a9a9a9;
  font-size: 20px;
  padding: 18px 50px;
  border-radius: 36px;
  pointer-events: none;
  text-decoration: none;
  color: #fcfcfc;
}

/* バケモノ ////////////////// */
#BAKEMONO{
  display: block;
  width: 100%;
}

#BAKEMONO p{
  text-align: left;
}

#BAKEMONO-phone p{
  text-align: left;
}

#BAKEMONO-phone{
  display: none;
}

main article #bakemono-box {
  position: relative;
  width: 650px;
  height: 650px;
  margin: 0 auto;
  z-index: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main article #bakemono-box input {
  display: none;
}

main article #bakemono-box .item {
  border-radius: 50%;
  position: absolute;
  width: 140px;
  transform-origin: center;
  padding: 4px;
}

main article #bakemono-box img {
  border: #a9a9a9 solid 1px;
  border-radius: 50%;
  display: block;
  transform: rotate(0deg);
}

/* バケモノピックアップ ///// */
main article #bakemono-box .item:hover {
  width: 140px;
  transition: all 0.1s;
  padding: 0px;
}

main article #bakemono-pickup {
  width: 380px;
  height: 380px;
}

main article #bakemono-pickup img {
  margin: 0 auto;
  width: 240px;
}

main article #bakemono-pickup p {
  margin: -10px auto 0px auto;
  width: 90%;
  line-height: 24px;
}

.item:nth-child(1) {
  transform: rotate(0deg) translate(0, -200%) rotate(0deg);
}

.item:nth-child(2) {
  transform: rotate(36deg) translate(0, -200%) rotate(-36deg);
}

.item:nth-child(3) {
  transform: rotate(72deg) translate(0, -200%) rotate(-72deg);
}

.item:nth-child(4) {
  transform: rotate(108deg) translate(0, -200%) rotate(-108deg);
}

.item:nth-child(5) {
  transform: rotate(144deg) translate(0, -200%) rotate(-144deg);
}

.item:nth-child(6) {
  transform: rotate(180deg) translate(0, -200%) rotate(-180deg);
}

.item:nth-child(7) {
  transform: rotate(216deg) translate(0, -200%) rotate(-216deg);
}

.item:nth-child(8) {
  transform: rotate(252deg) translate(0, -200%) rotate(-252deg);
}

.item:nth-child(9) {
  transform: rotate(288deg) translate(0, -200%) rotate(-288deg);
}

.item:nth-child(10) {
  transform: rotate(324deg) translate(0, -200%) rotate(-324deg);
}


/* ブログ ////////////////// */
main iframe {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  border: 20px;
  border: #a08614 20px ridge;
}

/* れんらく ////////////////// */
#CONTACT p{
  text-align: center;
  padding: 200px 0;
  margin: 0 20px;
}

/* フッター /////////////////////////////////////////////////////////////////////////////////////// */
footer {
  height: 31px;
  text-align: center;
  background: #4b4b4b;
  color: #fff;
  font-size: 14px;
  line-height: 31px;
}

/* タブレットレスポンシブ /////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width:800px) {
  nav ul {
    background: #f5f5f5ee;
    z-index: -1;
    margin-top: 0px;
    line-height: 60px;
    width: 100%;
    transition: all 0.8s ease-in-out;
  }

  #nav-btn:checked~.nav-bar {
    margin-top: 100px;
  }

  nav ul li {
    margin: auto;
    font-size: 6vw;
  }

  .nav-btn {
    display: inline;
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .nav-btn span,
  .nav-btn span:before,
  .nav-btn span:after {
    content: '';
    display: block;
    height: 4px;
    width: 40px;
    background: #222;
    position: absolute;
    transition: all 0.8s ease-in-out;
    border-radius: 3px;
  }

  .nav-btn span:before {
    bottom: 16px;
  }

  .nav-btn span:after {
    top: 16px;
  }

  #nav-btn:checked~.nav-btn span {
    transform: rotate(-270deg);
  }

  #nav-btn:checked~.nav-btn span::before {
    bottom: -5.8px;
    transform: rotate(35deg);
    width: 21px;
  }

  #nav-btn:checked~.nav-btn span::after {
    top: -5.8px;
    transform: rotate(-35deg);
    width: 21px;
  }

  main iframe {
    width: 80%;
  }

  #TOP img{
    width: 95%;
    margin-top: 20vh;
  }
}

@media screen and (max-width:700px) {
  #BAKEMONO{
    display: none;
  }

  #BAKEMONO-phone{
    width: 100%;
    display: inline-block;
  }

  .item-phone{
    display: flex;
    margin: 5px 20px;
  }

  .item-phone p{
    padding-left: 10px;
    line-height: 25px;
    display: flex;
    align-items: center;
    font-size: max(4vw, 20px);
  }

  .item-phone img{
    width: 26%;
    height: 26%;
    border: #a9a9a9 solid 1px;
    border-radius: 50%;
    display: block;
  }

  #ABOUT #about{
    height: 300px;
    background-image: linear-gradient(180deg, #ccc 1px, transparent 1px);
    background-size: 100% 4.5vw;
    line-height: 26px;
    padding-bottom: 1px;
  }

  #ABOUT p{
    font-size: max(4.5vw, 22px);
  }

  #PC {
    display: none;
  }

  #PHONE {
    display: inline-block;
  }

}