*{
    /* border: 0.1px solid blue; */
}

@font-face {
    font-family: 'naguri';
    src: url('../about/fonts/crayon_1-1.ttf') format('truetype');
}
@font-face {
    font-family: 'eri';
    src: url('../about/fonts/えり字.otf') format('opentype');
}

body{
    font-family: 'naguri';
}

header{
    height: 100px;
    border: 0.1px solid blue;
    position: fixed;
    top: 0;
    width: 100%;
}

nav{
    text-align: center;

    height: 100px;
    width: 100%;
    z-index: 1;
}

nav ul{
    list-style: none;
    display: inline-block;
    line-height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    list-style: none;
}

nav ul li{
    margin-right: 30px;
    font-size: 50px;
}

nav ul li a{
    text-decoration: none;
}